.html,
body {
    margin: 0px;
    width: 1280px;


}

.grid {
    display: grid;
    grid-template-rows: 108px 1100px 253px;
    width: 1280px;
}

.area {
    background-color: green;


}

.area1 {
    background-color: #DB8C33;
}

.area2 {
    background-color: white;
}

.area3 {
    background-color: #D9D9D9;
}

.img1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28px;
    left: 45px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 109px;
}

.texts {

    cursor: pointer;
    margin-top: 39px;
    grid-area: 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.text1 {
    margin-left: 435px;
}

.text5 {
    margin-right: 0px;
}

.rectangle {
    position: relative;
    background-color: #E9E6E6;
    width: 1006px;
    height: 470px;
    left: 137px;
    top: 59px;
}

.grid1 {
    /* margin-left: 26px; */
    display: grid;
    grid-template-columns: 492px auto;
    left: 26px;
    top: 61px;
    position: relative;


}

.inboxes1 input {

    border: solid black 1px;

    width: 462px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.label {
    margin-left: 6.69px;
    color: #7D8077;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 20px;
    font-style: medium;
    font-family: sans-serif;
}

.grid2 {
    display: grid;
    top: 92px;
    left: 26px;
    grid-template-columns: 327px 327px auto;
    position: relative;

}

.inboxes2 input {

    border: solid black 1px;

    width: 300px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.inboxes3 input {

    border: solid black 1px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    

}

.grid3 {
    /* margin-left: 26px; */
    display: grid;
    grid-template-columns: 327px 327px auto;
    left: 26px;
    top: 123px;
    position: relative;

}

.inboxes4 input {

    border: solid black 1px;
    width: 626px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;  

}
.btn{
    position: absolute;
    top: 365px;
    left: 680px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500;
    background-color: #81CB80;
    font-style: medium;
    cursor: pointer;
}
